<#@ assembly name = "$(SolutionDir)\TestProj\bin\Debug\TestProj.dll"#>
<#@ import namespace = "TestProj"#>
<#@ output extension=".Generated.cs" #>
namespace ConsoleApplication1
{
    class <#=Testing.Name#>
    {
    
    }
}
